
# Elastic Beanstalk Files
.elasticbeanstalk/*
!.elasticbeanstalk/*.cfg.yml
!.elasticbeanstalk/*.global.yml
static/admin/*
static/admin/css/*
static/admin/fonts/*
static/admin/img/*
static/admin/js/*
static/cms/*
static/django_tinymce/*
static/djangocms_admin_style/*
static/djangocms_text_ckeditor/*
static/djangocms-video/*
static/documents/*
static/filer/*
static/goal/*
static/habits/*
static/img/*
static/mptt/*
static/rest_framework/*
static/scss/*
static/sortedm2m/*
static/steps/*
static/tinymce/*
static/treebeard/*
static/vendor/*
static/video/*
static/wagtailadmin/*
static/wagtaildocs/*
static/wagtailembeds/*
static/wagtailimages/*
static/wagtailredirects/*
static/wagtailsearch/*
static/wagtailsnippets/*
static/wagtailusers/*
static/workoutgames/*
media/*
venv/*