{% extends 'layout_form.html' %}

{% load static %}

{% block title %} Login - The Healthy Teacher {% endblock %}

{% block content %}

  <div class="container">

    <!-- Outer Row -->
    <div class="row justify-content-center">

      <div class="col-xl-10 col-lg-12 col-md-9">

        <div class="card o-hidden border-0 shadow-lg my-5">
          <div class="card-body p-0">
            <!-- Nested Row within Card Body -->
            <div class="row">
              <div class="col-lg-6 d-none d-lg-block bg-3"></div>
              <div class="col-lg-6">
                <div class="p-5">
                  <div class="text-center">
                    <h2>Check your inbox</h2>
                    <p>We've emailed you instructions for resetting your password. If you don't see our email, please check your spam folder.</p>
                    <div class="text-center">
                      <a class="small" href="/accounts/login">Login!</a>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>

      </div>

    </div>

  </div>

{% endblock %}
