{% extends 'layout.html' %}

{% load static %}

{% block title %} The Healthy Teacher - Health Information {% endblock %}

{% block content %}

  <div class="card o-hidden border-0 shadow-lg my-5">
    <div class="card-body p-0">
      <!-- Nested Row within Card Body -->
      <div class="row">
        <div class="col-lg-5 d-none d-lg-block bg-1"></div>
        <div class="col-lg-7">
          <div class="p-5">
            <div class="text-center">
              <h1 class="h4 text-gray-900 mb-4">Let's calculate your macronutrients!</h1>
            </div>
            <form class="user" method="post">
              {% csrf_token %}
              <div class="form-group row">
                
                <div class="col-sm-12 mb-3 mb-sm-0">
                  
                  <label class="ml-3" for="activityLevel">What is your activity level?</label>
                  <select class="form-control form-circled-field" name="activityLevel" required id="id_activityLevel" selected="{{ activityLevel }}">
                    <!-- {% for option in activity %}

                      <option value="{{ option.0 }}">{{ option.1 }}</option>

                    {% endfor %} -->

                    {% for option in activity %}
                              
                    {% if option.0 == "S" and option.0 == activityLevel %}
                      <option value="S" selected="selected" title="Choose this if you workout between 1 and 2 times a week, find yourself moving slowly around the classroom, and are mostly seated throughout the day.">{{ option.1 }}</option> 
                    {% endif %}

                    {% if option.0 == "S" and option.0 != activityLevel %}
                      <option value="S"  title="Choose this if you workout between 1 and 2 times a week, find yourself moving slowly around the classroom, and are mostly seated throughout the day.">{{ option.1 }}</option> 
                    {% endif %}
                    
                    
                    {% if option.0 == "LA" and option.0 == activityLevel %}
                      <option value="LA" selected="selected" title="Choose this if you workout between 2 and 3 times a week and find yourself getting around 5-12K steps a day.">{{ option.1 }}</option>
                    {% endif %}

                    
                    {% if option.0 == "LA" and option.0 != activityLevel %}
                      <option value="LA" title="Choose this if you workout between 2 and 3 times a week and find yourself getting around 5-12K steps a day.">{{ option.1 }}</option>
                    {% endif %}


                    {% if option.0 == "MA" and option.0 == activityLevel %}
                      <option value="MA" selected="selected" title="Choose this if you workout between 4 and 5 times a week and find yourself getting around 12-20K steps a day.">Moderately Active</option>
                    {% endif %}

                    {% if option.0 == "MA" and option.0 != activityLevel %}
                      <option value="MA"  title="Choose this if you workout between 4 and 5 times a week and find yourself getting around 12-20K steps a day.">Moderately Active</option>
                    {% endif %}

                    {% if option.0 == "A" and option.0 == activityLevel %}
                      <option value="A"  selected="selected" title="Choose this if you workout 2 times a day and find yourself getting around 15-20K daily steps while also participating in a sport.">Active</option>
                    {% endif %} 

                    {% if option.0 == "A" and option.0 != activityLevel %}
                      <option value="A" title="Choose this if you workout 2 times a day and find yourself getting around 15-20K daily steps while also participating in a sport.">Active</option>
                    {% endif %} 

                  {% endfor %}
                  </select>
                </div>
              </div>

              <div class="form-group row">
                
                <div class="col-sm-12 mb-3 mb-sm-0">
                    <label class="ml-3" for="activityLevel">What is your primary goal?</label>
                  <select class="form-control form-circled-field" name="goal" required id="id_goal">
                    {% for option in goal %}

                      <option value="{{ option.0 }}">{{ option.1 }}</option>

                    {% endfor %}
                  </select>
                </div>
              </div>
              <hr>
              <button type="submit" class="btn btn-primary btn-user btn-block btn-custom-primary">
                Continue
              </button>
              
            </form>

            {% if form.errors %}

              <hr>
              
              <div class="text-danger">

                {% for error in form.errors %}

                  {{ error }}
                
                {% endfor %}
                
                {% for error in form.non_field_errors %}
                  
                  {{error}}
                
                {%endfor%}
                    
              </div>
              <hr>
        
            {% endif %}

            
          </div>
        </div>
      </div>
    </div>
  </div>

{% endblock %}