{% extends 'layout.html' %}

{% load static %}

{% block title %} The Healthy Teacher - Confirm {% endblock %}

{% block content %}

  <!-- Outer Row -->
  <div class="row justify-content-center">

    <div class="col-xl-10 col-lg-12 col-md-9">

      <div class="card o-hidden border-0 shadow-lg my-5">
        <div class="card-body p-0">
          <!-- Nested Row within Card Body -->
          <div class="row">
            <div class="col-lg-6 d-none d-lg-block bg-1"></div>
            <div class="col-lg-6">
              <div class="p-5">
                <div class="text-center">
                  <h2>Your payment was not completed correctly.</h2>
                  <p>There was an error with your payment. Please attempt to subscribe again using the link below.</p>
                  <div class="text-center">
                    <a class="small" href="/accounts/subscribe">Subscribe to the healthy teacher</a>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>

    </div>

  </div>
  
{% endblock %}
