<div class="p-5">
        <div>
          <h2>PRIVACY POLICY</h2>
        <p>
          Thank you for choosing to be part of our community at The Healthy Teacher (“Company”, “we”, “us”, or “our”). We are committed to protecting your personal information and your right to privacy. If you have any questions or concerns about our policy, or our practices with regards to your personal information, please contact us at lauren@thehealthyteacher.com. 
        </br>
        </br>          When you visit our and use our services, you trust us with your personal information. We take your privacy very seriously. In this privacy policy, we seek to explain to you in the clearest way possible what information we collect, how we use it and what rights you have in relation to it. We hope you take some time to read through it carefully, as it is important. If there are any terms in this privacy policy that you do not agree with, please discontinue use of our and our services. 
        </br>
        </br>          This privacy policy applies to all information collected through our and/or any related services, sales, marketing or events (we refer to them collectively in this privacy policy as the "Services"). 
        </br>
        </br>          Please read this privacy policy carefully as it will help you make informed decisions about sharing your personal information with us. 
        </br>
        </br>          TABLE OF CONTENTS:
        </br>          1. Scope of policy
        </br>          2.  ALL INFORMATION THE HEALTHY TEACHER COLLECTS
        </br>            A. Personal Information that The Healthy Teacher holds		 	B. Heath information and sensitive personal Information 
        </br>          3.  HOW THE HEALTHY TEACHER COLLECTS AND HOLDS PERSONAL 			INFORMATION
        </br>          4. THE PURPOSE FOR WHICH THE HEALTHY TEACHER COLLECTS, HOLDS, USES AND DISCLOSES PERSONAL INFORMATION
        </br>          5. WILL YOUR INFORMATION BE SHARED WITH ANYONE? 
        </br>          6. DO WE COLLECT INFORMATION FROM MINORS?
        </br>          7. STORAGE AND DISTRIBUTION OF PERSONAL INFORMATION
        </br>          8. HOW DO WE HANDLE YOUR SOCIAL LOGINS? 
        </br>          9. CONSEQUENCES IF ALL OR SOME PERSONAL INFORMATION IS NOT COLLECTED
        </br>          10. HOW LONG WE RETAIN YOUR PERSONAL INFORMATION
        </br>          11. ACCESS AND CORRECTION OF PERSONAL INFORMATION
        </br>          12. DO CALIFORNIA RESIDENTS HAVE SPECIFIC PRIVACY RIGHTS?
        </br>          13. CONTROLS FOR DO-NOT-TRACK FEATURES
        </br>          14. WHAT IS OUR STANCE ON THIRD-PARTY WEBSITES?
        </br>          15. DO WE USE COOKIES AND OTHER TRACKING TECHNOLOGIES? 
        </br>          16. UPDATES TO OUR PRIVACY POLICY
        </br>
        </br>          SCOPE OF POLICY
        </br>
        </br>          This Policy applies to all information or opinion about an identified individual or an individual who is reasonably identifiable (you), whether the information or opinion is true or not, and whether the information is recorded in a material form or not (Personal Information) that is collected, stored, used and disclosed by The Healthy Teacher.
        </br>
        </br>          In this policy, we explain the kinds of Personal Information we collect, how and why we collect and use it, and what controls you have over our use of it.
        </br>
        </br>          Please read the following carefully to understand our practices regarding the collection and use of your Personal Information.
        </br>
        </br>          2. ALL INFORMATION THE HEALTHY TEACHER COLLECTS
        </br>
        </br>          Personal information you disclose to us 
        </br>
        </br>          In Short: We collect personal information that you provide to us such as name, address, contact information, passwords and security data, and payment information. 
        </br>
        </br>          We collect personal information that you voluntarily provide to us when registering at the expressing an interest in obtaining information about us or our products and services, when participating in activities on the (such as posting messages in our online forums or entering competitions, contests or giveaways) or otherwise contacting us. 
        </br>
        </br>          The personal information that we collect depends on the context of your interactions with us and the , the choices you make and the products and features you use. The personal information we collect can include the following: 
        </br>
        </br>          Credentials. We collect passwords, password hints, and similar security information used for authentication and account access. 
        </br>
        </br>          Social Media Login Data. We provide you with the option to register using social media account details, like your Facebook, Twitter or other social media account. If you choose to register in this way, we will collect the Information described in the section called "HOW DO WE HANDLE YOUR SOCIAL LOGINS" below. 
        </br>
        </br>          All personal information that you provide to us must be true, complete and accurate, and you must notify us of any changes to such personal information. 
        </br>
        </br>          Information automatically collected 
        </br>
        </br>          In Short: Some information – such as IP address and/or browser and device characteristics – is collected automatically when you visit our . 
        </br>
        </br>          We automatically collect certain information when you visit, use or navigate the . This information does not reveal your specific identity (like your name or contact information) but may include device and usage information, such as your IP address, browser and device characteristics, operating system, language preferences, referring URLs, device name, country, location, information about how and when you use our and other technical information. This information is primarily needed to maintain the security and operation of our , and for our internal analytics and reporting purposes. 
        </br>
        </br>          Like many businesses, we also collect information through cookies and similar technologies
        </br>
        </br>          PERSONAL INFORMATION THAT THE HEALTHY TEACHER COLLECTS AND HOLDS
        </br>
        </br>          The Personal Information collected, held, used and disclosed by us includes, but is not limited to, the following information about you:
        </br>          name and/or username;
        </br>          date of birth (see section 3 below);
        </br>          gender;
        </br>          country of residence;
        </br>          email address;
        </br>          medical/health information (see section 3 below);
        </br>          a record of pages you visit on our website;
        </br>          information about any complaints you may lodge; and
        </br>          information about or related to your customized training program, support provided to you by our coaches or any other service we provide you.
        </br>
        </br>          Some of the above information may also be classified as “health information” under the Act. Please see section 3 below for details about how we might collect, hold, use or disclose health information about you.
        </br>
        </br>            B. HEALTH INFORMATION AND SENSITIVE 	   PERSONAL 	INFORMATION
        </br>
        </br>          Given the nature of our business as provider of online fitness resources, we may also collect some sensitive information about you, for example, information about your health, which is afforded a higher level of privacy protection.
        </br>
        </br>          The Act includes the following information as “health information”:
        </br>          information or an opinion about the health (including illness, disability or injury) of an individual);
        </br>          the individual’s expressed wishes about the future provisions of health services provided to him or her; or
        </br>          personal information which is collect as part of providing a “health service”, collectively, ‘Health Information’.
        </br>
        </br>          Under the Act, a “health service” includes (among other things) any activity intended or claimed to assess, maintain or improve an individual’s health, or to record the individual’s health for the improving or managing the individual’s health.
        </br>
        </br>          Health Information which we might collect about you includes, but is not limited to:
        </br>          any medical issues (as may be relevant to your use of Coach Support, Training Programs or similar services we provide to you);
        </br>          your health situation (for example, whether you are injured, pregnant or disabled, to the extent relevant to your use of the Coach Support, Training Programs or other similar services we provide to you);
        </br>          your current height, weight and BMI;
        </br>          what facilities or equipment you use to train;
        </br>          training frequency;
        </br>          training experience;
        </br>          progress management – a weekly photo of you, and record of height, weight, and similar information, as you work towards your goals through our program;
        </br>          progress management – a record of your progress in weekly exercises;
        </br>          your daily calorie requirements calculated using the calorie (macro) calculator on our website;
        </br>          your specific nutritional requirements;
        </br>          a description of your fitness and nutrition goals; and
        </br>          any other information required for the provision of our programs to you.
        </br>          activity data such as steps;
        </br>          We will not collect, use or disclose any of your Health Information except to the extent necessary to provide a health service to you through our programs, and will ensure that any Health Information is collected, used and disclosed only in accordance with rules established by other competent health or medical bodies (where applicable) that deal with obligations of professional confidentiality.
        </br>
        </br>          3. HOW THE HEALTHY TEACHER COLLECTS AND HOLDS PERSONAL INFORMATION
        </br>
        </br>          We will only collect Personal Information from you directly, unless it is unreasonable and impractical to do so.
        </br>
        </br>          We may collect Personal Information from you directly in the following ways:
        </br>          if you subscribe to a membership with The Healthy Teacher or create an account on our website;
        </br>          if you request assistance or advice from our online coaches;
        </br>          if you make a request for support online, by email or by telephone;
        </br>          if you participate in promotional offers;
        </br>          if you choose to subscribe to our mailing list; or
        </br>          if you disclose information such as contact details via our website.
        </br>
        </br>          In a situation where it is unreasonable or impractical to obtain Personal Information from you directly, you may be asked to consent to our collection of your Personal Information from a third-party.
        </br>
        </br>          We will always notify you after any of your Personal Information has been collected by us from a third party.
        </br>
        </br>          The Healthy Teacher holds Personal Information in databases hosted on servers based in the United States (including on servers through Heroku, Amazon Web Services (AWS), Google and Uploadcare). 
        </br>
        </br>          We take reasonable steps to:
        </br>          protect your Personal Information from misuse, interference and loss and from unauthorized access, modification or disclosure;
        </br>          ensure that our system is appropriately backed-up to prevent the loss of your Personal Information; and
        </br>          destroy or de-identify Personal Information when it is no longer required.
        </br>
        </br>          Some security measures that we have in place to protect your Personal Information include the following:
        </br>          access to the database where your personal information is stored is restricted to particular authorized staff members;
        </br>          the password for database access is changed frequently;
        </br>          we use well-known and widely used development technology to run and maintain our website; and
        </br>          our hosting providers manage the server and database protection in accordance with standard web practices.
        </br>
        </br>          In the case that any of the Personal Information held by The Healthy Teacher is lost, or subjected to unauthorized access, modification, disclosure or other misuse or interference, we will notify you immediately and advise you of the steps you should take in response to the breach. Additionally, if we receive any unsolicited Personal Information (i.e. we inadvertently obtain information about you that we did not request) we will determine whether we would have been able to obtain the information by the methods described in this section 4. If not, we will, as soon as practicable, destroy the information and ensure that the information is de-identified.
        </br>
        </br>
        </br>          4. THE PURPOSE FOR WHICH THE HEALTHY TEACHER COLLECTS, HOLDS, USES AND DISCLOSES PERSONAL INFORMATION
        </br>
        </br>          Personal Information which is collected by The Healthy Teacher will be held, used and disclosed by us for the primary purpose of providing training and fitness regimes to our customers including:
        </br>          personalizing our fitness regimes to help you achieve your individual fitness goals;
        </br>          formulating our fitness programs to suit your individual health requirements;
        </br>          providing you with the tools necessary to determine your nutritional requirements and track your food intake;
        </br>          notifying you of account activity or update (such as a completed training program, individual point rankings, team rankings, step-count rankings, personal “workout of the day”, informational video of the day, investment questions, group comment or weekly check-in);
        </br>          sending you an email to notify you of any account changes or updates to our services (such as coach updates to our user programs, training group comments, or weekly check-ins);
        </br>          supporting and enhancing our relationship with you (this includes processing your membership subscription, providing you with better support and service and sharing company news and information with you);
        </br>          to provide insights into the progress and experiences of The Healthy Teacher members; and
        </br>          to deal with complaints.
        </br>
        </br>          The Healthy Teacher may also disclose Personal Information to the extent required or authorized by applicable law, but otherwise will never do so without your consent or otherwise as expressly provided for in this Privacy Policy.
        </br>
        </br>          The Healthy Teacher does not sell any of your Personal Information to third parties.
        </br>
        </br>          5. WILL YOUR INFORMATION BE SHARED WITH ANYONE? 
        </br>
        </br>          In Short: We only share information with your consent, to comply with laws, to provide you with services, to protect your rights, or to fulfill business obligations. 
        </br>
        </br>
        </br>          We may process or share data based on the following legal basis: 
        </br>          Consent: We may process your data if you have given us specific consent to use your personal information in a specific purpose. 
        </br>
        </br>          Legitimate Interests: We may process your data when it is reasonably necessary to achieve our legitimate business interests. 
        </br>
        </br>          Performance of a Contract: Where we have entered into a contract with you, we may process your personal information to fulfill the terms of our contract. 
        </br>
        </br>          Legal Obligations: We may disclose your information where we are legally required to do so in order to comply with applicable law, governmental requests, a judicial proceeding, court order, or legal process, such as in response to a court order or a subpoena (including in response to public authorities to meet national security or law enforcement requirements). 
        </br>
        </br>          Vital Interests: We may disclose your information where we believe it is necessary to investigate, prevent, or take action regarding potential violations of our policies, suspected fraud, situations involving potential threats to the safety of any person and illegal activities, or as evidence in litigation in which we are involved. 
        </br>          More specifically, we may need to process your data or share your personal information in the following situations: 
        </br>
        </br>          Vendors, Consultants and Other Third-Party Service Providers. We may share your data with third party vendors, service providers, contractors or agents who perform services for us or on our behalf and require access to such information to do that work. Examples include: payment processing, data analysis, email delivery, hosting services, customer service and marketing efforts. We may allow selected third parties to use tracking technology on the , which will enable them to collect data about how you interact with the over time. This information may be used to, among other things, analyze and track data, determine the popularity of certain content and better understand online activity. Unless described in this Policy, we do not share, sell, rent or trade any of your information with third parties for their promotional purposes. 
        </br>
        </br>          Business Transfers. We may share or transfer your information in connection with, or during negotiations of, any merger, sale of company assets, financing, or acquisition of all or a portion of our business to another company. 
        </br>
        </br>          Third-Party Advertisers. We may use third-party advertising companies to serve ads when you visit the . These companies may use information about your visits to our Website(s) and other websites that are contained in web cookies and other tracking technologies in order to provide advertisements about goods and services of interest to you. 
        </br>
        </br>          Affiliates. We may share your information with our affiliates, in which case we will require those affiliates to honor this privacy policy. Affiliates include our parent company and any subsidiaries, joint venture partners or other companies that we control or that are under common control with us. 
        </br>
        </br>          Business Partners. We may share your information with our business partners to offer you certain products, services or promotions. 
        </br>
        </br>          Other Users. When you share personal information or otherwise interact with public areas of the , such personal information may be viewed by all users and may be publicly distributed outside the in perpetuity. If you interact with other users of our and register through a social network (such as Facebook), your contacts on the social network will see your name, profile photo, and descriptions of your activity. Similarly, other users will be able to view descriptions of your activity, communicate with you within our , and view your profile. 
        </br>
        </br>          6. DO WE COLLECT INFORMATION FROM MINORS? 
        </br>
        </br>          In Short: We do not knowingly collect data from or market to children under 18 years of age. 
        </br>
        </br>          We do not knowingly solicit data from or market to children under 18 years of age. By using the , you represent that you are at least 18 or that you are the parent or guardian of such a minor and consent to such minor dependent’s use of the . If we learn that personal information from users less than 18 years of age has been collected, we will deactivate the account and take reasonable measures to promptly delete such data from our records. If you become aware of any data we have collected from children under age 18, please contact us at lauren@thehealthyteacher.com. 
        </br>
        </br>
        </br>          7. STORAGE AND DISTRIBUTION OF PERSONAL INFORMATION
        </br>
        </br>          As set out in section 4 above, your Personal Information is stored on servers hosted in the United States through third-party hosting services Heroku, AWS, Google and Uploadcare.
        </br>
        </br>          We will not distribute the Personal Information you provide to another foreign entity unless we are required to do so by law or you provide your express consent to such a disclosure. Before disclosing any of your Personal Information to a foreign entity, we would also take reasonable steps to ensure that the entity to whom we disclose the information does not breach any of the United States Privacy Principles.
        </br>
        </br>          8. HOW DO WE HANDLE YOUR SOCIAL LOGINS? 
        </br>
        </br>          In Short: If you choose to register or log in to our services using a social media account, we may have access to certain information about you. 
        </br>
        </br>          Our offer you the ability to register and login using your third party social media account details (like your Facebook or Twitter logins). Where you choose to do this, we will receive certain profile information about you from your social media provider. The profile Information we receive may vary depending on the social media provider concerned, but will often include your name, e-mail address, friends list, profile picture as well as other information you choose to make public. 
        </br>
        </br>          We will use the information we receive only for the purposes that are described in this privacy policy or that are otherwise made clear to you on the . Please note that we do not control, and are not responsible for, other uses of your personal information by your third party social media provider. We recommend that you review their privacy policy to understand how they collect, use and share your personal information, and how you can set your privacy preferences on their sites and apps. 
        </br>
        </br>          9. CONSEQUENCES IF ALL OR SOME PERSONAL INFORMATION IS NOT COLLECTED
        </br>
        </br>          You do not have to provide us with any Personal Information. However, if you choose to withhold any requested information, you may not be able to utilize our full offering, access special promotions or we may not be able to provide you with personalized support that is dependent upon the collection of such information.
        </br>
        </br>          10. HOW LONG WE RETAIN YOUR PERSONAL INFORMATION
        </br>
        </br>          In Short: We keep your information for as long as necessary to fulfill the purposes outlined in this privacy policy unless otherwise required by law. 
        </br>
        </br>          We will only keep your personal information for as long as it is necessary for the purposes set out in this privacy policy, unless a longer retention period is required or permitted by law (such as tax, accounting or other legal requirements). No purpose in this policy will require us keeping your personal information for longer than the moment you account is cancelled. 
        </br>
        </br>          When we have no ongoing legitimate business need to process your personal information, we will either delete or anonymize it, or, if this is not possible (for example, because your personal information has been stored in backup archives), then we will securely store your personal information and isolate it from any further processing until deletion is possible.
        </br>
        </br>          11. ACCESS AND CORRECTION OF PERSONAL INFORMATION
        </br>
        </br>          You have a right to request access to your Personal Information and to request its correction, by emailing us at lauren@thehealthyteacher.com. Upon receipt of a written request from you, we will give you access to the Personal Information we hold about you within 60 days of receiving your request unless an exception to access applies under the Privacy Act.
        </br>          Upon receipt of a written request from you we will comply with our obligations under the Privacy Act to correct, amend, delete or cease to deal with any Personal Information we hold about you if it proves to be factually inaccurate, incomplete, or irrelevant to the purpose(s) for which it is being held within 60 days.
        </br>
        </br>          12. DO CALIFORNIA RESIDENTS HAVE SPECIFIC PRIVACY RIGHTS? 
        </br>
        </br>          In Short: Yes, if you are a resident of California, you are granted specific rights regarding access to your personal information. 
        </br>          California Civil Code Section 1798.83, also known as the “Shine The Light” law, permits our users who are California residents to request and obtain from us, once a year and free of charge, information about categories of personal information (if any) we disclosed to third parties for direct marketing purposes and the names and addresses of all third parties with which we shared personal information in the immediately preceding calendar year. If you are a California resident and would like to make such a request, please submit your request in writing to us using the contact information provided below. 
        </br>
        </br>          If you are under 18 years of age, reside in California, and have a registered account with the , you have the right to request removal of unwanted data that you publicly post on the . To request removal of such data, please contact us using the contact information provided below, and include the email address associated with your account and a statement that you reside in California. We will make sure the data is not publicly displayed on the , but please be aware that the data may not be completely or comprehensively removed from our systems. 
        </br>
        </br>          13. CONTROLS FOR DO-NOT-TRACK FEATURES 
        </br>
        </br>          Most web browsers and some mobile operating systems and mobile applications include a Do-Not-Track (“DNT”) feature or setting you can activate to signal your privacy preference not to have data about your online browsing activities monitored and collected. No uniform technology standard for recognizing and implementing DNT signals has been finalized. As such, we do not currently respond to DNT browser signals or any other mechanism that automatically communicates your choice not to be tracked online. If a standard for online tracking is adopted that we must follow in the future, we will inform you about that practice in a revised version of this privacy policy
        </br>
        </br>          14. WHAT IS OUR STANCE ON THIRD-PARTY WEBSITES? 
        </br>
        </br>          In Short: We are not responsible for the safety of any information that you share with third-party providers who advertise, but are not affiliated with, our websites. 
        </br>
        </br>          The may contain advertisements from third parties that are not affiliated with us and which may link to other websites, online services or mobile applications. We cannot guarantee the safety and privacy of data you provide to any third parties. Any data collected by third parties is not covered by this privacy policy. We are not responsible for the content or privacy and security practices and policies of any third parties, including other websites, services or applications that may be linked to or from the . You should review the policies of such third parties and contact them directly to respond to your questions. 
        </br>
        </br>          15. DO WE USE COOKIES AND OTHER TRACKING TECHNOLOGIES? 
        </br>
        </br>          In Short: We may use cookies and other tracking technologies to collect and store your information. 
        </br>
        </br>          We may use cookies and similar tracking technologies (like web beacons and pixels) to access or store information. Specific information about how we use such technologies and how you can refuse certain cookies is set out in our Cookie Policy. 
        </br>
        </br>          16. UPDATES TO OUR PRIVACY POLICY
        </br>
        </br>          This privacy policy is subject to change without prior or separate notification. Any changes will be posted on our website. The updated version will be indicated by an updated “Revised” date and the updated version will be effective as soon as it is accessible. If we make material changes to this privacy policy, we may notify you either by prominently posting a notice of such changes or by directly sending you a notification. We encourage you to review this privacy policy frequently to be informed of how we are protecting your information. 
        </br>
        </br>
          This privacy policy was last updated on August 25, 2020.
        </br>
        </p>

        </div>
      </div>