{% extends 'layout.html' %}
 
{% block title %}Make Payment{% endblock %}
 
{% block content %}

<div class="card o-hidden border-0 shadow-lg my-5">
        <div class="card-body p-0">
          <!-- Nested Row within Card Body -->
          <div class="row">
            <div class="col-lg-5 d-none d-lg-block bg-3"></div>
            <div class="col-lg-7">
              <div class="p-5">
                <div class="text-center">
                    
                    <h1 class="h2 text-main-color mb-4">Confirm Subscription</h1>

                    <h1 class="h4 text-gray-900 mb-4">Pay with PayPal</h1>
                    
                    <h2 class="h5 text-gray-900 mb-4">{{ order.name }} subscription for ${{ order.price }}</h2>

                    {{ form.render }}

                </div>

                
    
              </div>
            </div>
          </div>
        </div>
      </div>

{% endblock %}